body {
	background-color: #252525;
	color: #AFAFAF;
	font-size: .8em;
	font-family: arial, sans-serif;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
h2 {
	color: #6ea6af;
}
h3 {
	color: green;
}


		/* Link related [START]*/

#OfferNav a {
	text-decoration: none;
	color: #a1b3e4;
}
#OfferNav a:hover {
	text-decoration: underline;
}
#OfferNav a:visited {
	color: #a1b3e4;
}
		/* Link related [END]*/





.MainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}




		/* Navigation Bar [START] */

.Wrapper {
	position: sticky;
	width: 100%;
	z-index: 100;
	top: 0;
}
.NavBar {
	background-color: #1B1B1B;
	box-shadow: 0 1px 6px 0 #000000a1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.NavItems {
	padding: 15px 15px 10px 15px;
}
.NavItems a {
	color: #7a7a7a;
	text-decoration: none;
}
.NavItems.Active {
	border-bottom: 3px solid #1A73E8;
}
.NavItems a:hover {
	color: #f3f3f3;
}
.NavItems.Active a {
	color: #1A73E8;
	font-weight: bold;
}
		/* Navigation Bar [END] */



		/* Middle Content [START] */

.ContentBox {
	display: flex;
	justify-content: center;
	flex: 1;

}
.InnerContent {
	display: flex;
	flex-direction: column;
	max-width: 55%;
}
.MainHeaders {
	text-align: center;
	font-size: 4em;
	position: relative;
	cursor: default;
}
.OfferBoxes {
	padding-bottom: 5%;
}
.OfferBoxes img {
	max-width: 100%;
	max-height: 270px;
}
.UpParts, .OfferBoxes {
	position: relative;
}
.UpParts a:first-of-type, .OfferBoxes a:first-of-type {
	position: absolute;
	top: -53px;

}
		/* Middle Content [START] */



		/* Footer [START] */

footer {
	box-shadow: inset 0 1px 6px 0 #000000a1;
	background-color: #1b1b1b;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
		/* Footer [END] */



.Arrow {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 60px;
}

#SbS {
	display: flex;
}

.AMSide {
	flex: 50%;
	padding: 5px;
}

.AMSide p {
	margin-top: 0;
}

#AMPic {
	max-width: 100%;
}

#NavPics {
	min-height: 70px;
	max-height: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	width: auto;
}

.Video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 100%;
	width: 650px;
	height: 400px;
}



		/* Gallery[START] */

/* The grid */
.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	flex: 1;
	padding: 5px;
}

/* Style the images inside the grid */
.column img {
	opacity: 0.75; 
	cursor: pointer;
	width: 100%;
	height: 200px;
	margin: 0;
}

.column img:hover {
	opacity: 1;
}

/* The expanding image container */
.container {
	position: relative;
	display: none;
}

/* Make container images 100% */
#expandedImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

/* Expanding image text */
#imgtext {
	position: absolute;
	top: 12px;
	left: 30px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	background-color: #343434;
	padding: 5px;
	margin: 0;
}

/* Closable button inside the expanded image */
.closebtn {
	position: absolute;
	top: 5px;
	left: 5px;
	color: #000;
	font-size: 35px;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
		/* Gallery[END] */

		

		/* Form [START] */

/* Bold Label */
label {
	display: block;
	font-weight: bold;
	line-height: 20px;
}

/* Adds some space inside the textboxes */
input[type=text], input[type=email], textarea {
	margin-top: 3px;
	margin-bottom: 20px;
	padding: 4px;
}

/* Bolds textbox when in focus */
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

input[type=radio] {
	cursor: pointer;
}

#RequiredField {
	font-weight: 1;
	color: #c00;
}

/* Sets radio text labels back to normal */
.RadioLabel {
	font-weight: normal;
	display: inline;
	cursor: pointer;
}

/* Red Asterick */
.form-required {
	color: #c00;
}

/* Setting Input Textbox size */
.InputTextBox {
	width: 250px;
	max-width: 100%;
}

/* Specifies W x H and makes it so they can't enlarge it more than the page */
textarea {
	width: 500px;
	height: 200px;
	max-width: 98%;
	max-height: 1000px;
}

/* Design buttons */
.Buttons {
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: #303030;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
}

/* When hover over button */
.Buttons:hover {
	text-decoration: underline;
}

/* Creating space between both buttons */
.Buttons[type=reset] {
	margin-right: 3px;
}

.Buttons[type=submit] {
	margin-left: 3px;
}

		/* Form [END] */



/* After some learning */

#LogoBox {
	height: 5em;
}

#Logo {
	max-height: 100%;
}
